.container {
    color: rgb(187, 7, 7); 
    font-size: 16px;
}
h1{
    color:blue

}
h2 {
    color:aquamarine
}
h3{
    color:blueviolet
}
h4{
    color:aqua
}
h5{
    color:brown
}
h6{
    color:blueviolet
}

